# --- GLOBAL PACKAGE REGISTRIES ---
--extra-index-url https://download.pytorch.org/whl/cu124

# --- GPU / CUDA Specific ---
torch==2.6.0+cu124
torchvision==0.21.0+cu124

# --- Frameworks & Tools ---
lightly==1.5.23
pytorch-lightning==2.6.1
segmentation_models_pytorch==0.5.0
mlflow==3.12.0
optuna==4.8.0
hydra-submitit-launcher==1.2.0

# --- Data Science & Utils ---
numpy==2.4.4
matplotlib==3.10.8
seaborn==0.13.2
scipy==1.17.1
scikit-image==0.26.0
pandas==2.3.3
tqdm==4.67.3
scikit-learn==1.8.0
nvidia-ml-py==13.595.45
psutil==7.2.2
h5py==3.16.0

# --- Database & Tuning Dashboard ---
SQLAlchemy==1.4.54
optuna-dashboard==0.20.0

# --- MANUAL INSTALL REQUIRED ---
# due to a dependency conflict this must be manually installed without dependencies.
# pip install hydra-optuna-sweeper==1.2.0 --no-deps